<div class="d-flex justify-content-between">
  <div class="container">
  <form class="w-25">
    <h3>Create Account</h3>
    <div class="d-flex p-1">
      <input
        type="text"
        class="form-control"
        placeHolder="First Name"
        required
      />
      <input
        type="text"
        class="form-control"
        placeHolder="Second Name"
        required
      />
    </div>
    <div class="p-1">
      <input type="text" class="form-control" placeHolder="Phone" required />
    </div>

    <div class="p-1">
      <input type="email" class="form-control" placeHolder="Email" required />
    </div>

    <div class="p-1">
      <input
        type="password"
        class="form-control"
        placeHolder="Password"
        required
      />
    </div>

    <div class="p-1">
      <input
        type="password"
        class="form-control"
        placeHolder="Confirm Password"
        required
      />
    </div>

    <input type="submit" value="Sign up" />
  </form>

  <img
    src="https://img.freepik.com/free-photo/top-view-woman-crocheting_23-2148242079.jpg?w=740&t=st=1675607264~exp=1675607864~hmac=ce61d7894e035aed8eef5235155dd80d2f5e12773d06a2420c65a8a41a3f35d1"
    class=""
  />
  </div>
</div>
