<div class="d-flex justify-content-between">
  <form class="col-lg-3" [formGroup]="validationForm" (submit)="signIn()">
    <a class="p-1 py-3 logo" routerLink="/home"
      ><img class="col-2" src="../../../assets/image/logo1.png"
    /></a>
    <h3 class="py-2 px-1" style="font-family: 'Fraunces', serif">
      Welcome back
    </h3>

    <div class="p-1">
      <input
        type="email"
        class="form-control"
        [ngClass]="validEmailClass()"
        placeHolder="Email"
        name="email"
        formControlName="email"
        required
      />
    </div>

    <div class="p-1">
      <input
        type="password"
        class="form-control"
        [ngClass]="validPasswordClass()"
        placeHolder="Password"
        name="password"
        formControlName="password"
        required
      />
    </div>
    <a routerLink="#" class="text-decoration-none text-capitalize px-1">
      forget your password?
    </a>

    <div class="py-3 px-1">
      <input
        type="submit"
        value="Login"
        class="text-capitalize w-100 p-2 border-0 rounded"
      />
    </div>
    <p class="text-capitalize text-center py-2">
      Don't have an account?
      <a routerLink="/signup" class="text-decoration-none">Resgister</a>
    </p>
  </form>

  <img src="../../../assets/image/needles.jpg" class="col-6 image" />
</div>
