<div class="container">
  <div class="row">
<div class="sidebar rounded py-2">
  <ul>
    <!-- <li><a href="#"><img src="../../assets/image/accesories.png"> Resin</a></li> -->
    <li><a href="#"><img src="../../assets/image/resin.png"> Accessories</a></li>
    <li><a href="#"><img src="../../assets/image/embroider.png"> Embroidery</a></li>
    <li><a href="#"><img src="../../assets/image/knitting.png"> Knitting</a></li>
    <!-- <li><a href="#"><img src="../../assets/image/accesories.png"> Resin</a></li>
    <li><a href="#"><img src="../../assets/image/resin.png"> Accessories</a></li>
    <li><a href="#"><img src="../../assets/image/embroider.png"> Embroidery</a></li>
    <li><a href="#"><img src="../../assets/image/knitting.png"> Knitting</a></li>
    <li><a href="#"><img src="../../assets/image/accesories.png"> Resin</a></li>
    <li><a href="#"><img src="../../assets/image/resin.png"> Accessories</a></li> -->

  </ul>
</div>
</div>
</div>
